/* Error: This file is already being loaded.
 *   ,--> scss\sections\_header.scss
 * 3 | @import '../functions/extends';
 *   |         ^^^^^^^^^^^^^^^^^^^^^^ new load
 *   '
 *   ,--> scss\style.scss
 * 7 | @import 'functions/extends';
 *   |         =================== original load
 *   '
 *   scss\sections\_header.scss 3:9    @import
 *   scss\functions\_extends.scss 1:9  @import
 *   scss\style.scss 7:9               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: This file is already being loaded.\a   \250c \2500 \2500 > scss\\sections\\_header.scss\a 3 \2502  @import '../functions/extends';\d\a   \2502          ^^^^^^^^^^^^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > scss\\style.scss\a 7 \2502  @import 'functions/extends';\d\a   \2502          \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   scss\\sections\\_header.scss 3:9    @import\a   scss\\functions\\_extends.scss 1:9  @import\a   scss\\style.scss 7:9               root stylesheet";
}
