@import '../base/variables';
@import '../base/colors';
@import '../functions/extends';

/*  MENU  */

header {
    color: nth($colores1, 5); 
    @extend %flexbox1;
    background-color: $bg-color-lb;
}
.bg-light {
    background-color: $bg-color-lb !important;
}

.logo {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.navbar-light .navbar-nav .nav-link {
    display: inline-block;
    color: nth($colores1, 5); 
}

.dropdown-menu {
    background-color: $bg-color-lb;
    border-color: $border-white;
    color: nth($colores1, 5); 
}

// --- Swithc --- //

.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
    span {
        width: 30px;
        height: 30px;
        line-height: 30px;
        display: block;
        background: none;
        color: #fff;
    }
    i {
        vertical-align: middle;
    }
}
