@import '../base/size';

/* Servicios */

.servicios {
    text-align: center;
}

.dg {
    box-shadow: 0 10px 6px -6px #777;
    margin-right: 10em;
    z-index: 2;
    &:hover {
        transform: scale(1.1)
    }
}



.dw {
    z-index: 2;
    box-shadow: 0 10px 6px -6px #777;
    &:hover {
        transform: scale(1.1)
    }
}


.dm {
    z-index: 2;
    box-shadow: 0 10px 6px -6px #777;
    margin-right: 10em;
    &:hover {
        transform: scale(1.1)
    }   
}


.cm {
    z-index: 2;
    box-shadow: 0 10px 6px -6px #777;
    &:hover {
        transform: scale(1.1)
    }
}


/* Fondo animado */

.burbujas {
    width: 100%;
    height: 300vh;
    bottom: -100vh;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    }

.burbuja {
    overflow: hidden;
    border-radius: 50%;
    background: nth($colores1, 2); 
    position: absolute;
    bottom: 100vh;
    animation: burbujas 3s linear infinite;
    body.dark & {
        background: nth($colores2, 3);
    }
    }

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    }

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 4s;
    }

.burbuja:nth-child(3) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 1.5s;
    }

.burbuja:nth-child(4) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 8s;
    }

.burbuja:nth-child(5) {
    width: 10px;
    height: 10px;
    left: 75%;
    animation-duration: 7s;
    }

.burbuja:nth-child(6) {
    width: 130px;
    height: 130px;
    left: 55%;
    animation-duration: 7s;
    }

@keyframes burbujas {
        0%{
            bottom: 0;
            opacity: .0;
        }
        
        30%{
            transform: translateX(30px);
        }
        
        50%{
            opacity: .7;
        }
        
        100%{
            bottom: 100vh;
            opacity: .0;
        }
    }