@import '../base/colors';
@import '../base/variables';

@mixin ha($fsize) {
    font-size: $fsize;  
    text-align: left; 
    padding-bottom: 20px; 
    color: nth($colores2, 2); 
    }

@mixin hb($fsize) {
    font-size: $fsize;
    color: nth($colores1, 1); 
    text-shadow: nth($colores1, 6)  1px 1px;
    padding: 1em 0 1em 0; 
        }

@mixin hc($fsize) {
    font-size: $fsize; 
    padding-bottom: 30px;
    color: nth($colores2, 6);   
    }


@mixin hd($fsize) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: $fsize;
    color: rgb(0, 0, 0);
    transition: all 5s;
    }

@mixin he($fsize) {
        font-size: $fsize;
        color: nth($colores1, 5); 
        display: block;
    }

@mixin hf($fsize) {
    font-size: $fsize;
    color: nth($colores1, 2); 
    text-shadow: nth($colores1, 6) 0.5px 0.5px;
    padding: 1em 0 1em 0;
}

@mixin p($fsize) {
    font-size: $fsize; 
    color: nth($colores2, 6);  
}
