@import '../functions/mixins';


h1{
  @include ha(2em);
}

h2{
    @include hb(3em);
}

h3{
    @include hc(16px);
}

h4{
    @include hd(1em);
}

h5 {
    @include he(1em);
}

h6 {
    @include hf(3em);
}

p {
    @include p(0.7em);
}